body{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    max-width: 440px;
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 60px 0px rgb(135, 61, 61); 
    font-size: 25px;
}  

#display {
    text-align: right;
    height: 50px;
    line-height: 50px;
    padding: 16px 8px;
    font-size: 25px;
}

.buttons{
    display:grid;
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color:violet;
}
.button {
    border-top: 1px solid black;
    border-right: 1px solid black;
    cursor: pointer;
    text-align: center;
    line-height: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#equal{
    background-color: blue;
    color:white
}

.button:hover{
    background-color: black;
    color:white;
    transition: 0.5s ease-in-out;
}